  .container {
    font-family: 'Times New Roman', sans-serif;
    margin: 50px;
  }
  
  input[type="text"] {
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px; 
    max-width: 100%; 
    font-size: 16px; 
  }
  
